.form-wrapper {
    display: flex;
}

.form-content {
    flex: 1;
}

.img {
    display: flex; 
    flex: 1;
    align-items: center;
    justify-content: center;
}

.img img {
    width: 308px;
    height: 402px;
}
