
.navbar {
    width: 138px;
    background-color: #434343;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0px 0px 32px 0px;
    align-items: center;
}

.navbar img {
    margin-bottom: 24px;
    width: 73px;
    height: 73px;   
}

#first-img {
    margin-top: 74px;
}